<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(https://educayjuega.files.wordpress.com/2017/04/videojuegos-lista-time-1.jpg);">
  <div class="container">
    <div class="show-title">
      <p>Tell us your favorite games</p>
    </div>
    <div class="row d-flex justify-content-center">
      <div style="width: 100%" class="row d-flex justify-content-center">

       <form action="/tracking" method="POST" style="width:75%">
          <select name="tracking[]" class="select2" multiple="multiple" placeholder="select your games">
            <% @games.each do |game| %>
              <option value="<%= game.id %>"  ><%= game.name %></option>
            <% end %>
            <input type="submit" value="Send your games !" class= "home-button" >
          </select>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
      </div>
    </div>
    <div class="way-to-go">
        <div class="home-site-card"><%= image_tag "heart.png",width: "100px"%>
            <br><p>You tell us your favorite games</p>

        </div>
        <div class="home-site-card"><%= image_tag "8da302a19e.png",width: "100px"%>
            <br><p>We give you the perfect game according to your taste</p>
        </div>
        <div class="home-site-card"><%= image_tag "comment.png",width: "100px"%>
          <br><p>Share your thoughts to the community</p>
       </div>
    </div>

  </div>
  </div>
</div>
