<div class="container">
    <div class="row d-flex justify-content-center">
      <h2 class="margin-bot Way-to-forward">Way forward <%= image_tag "juego.png",width: "50px"%></h2>
    </div>
    <div>
        <div class="way-to-go">
            <div class="home-site-card"><%= image_tag "like.png",width: "100px",class: "margin-bot-1 " %>
                <br><p>You tell us your favorite games</p>
            </div>
            <div class="home-site-card"><%= image_tag "8da302a19e.png",width: "100px",class: "margin-bot-1 "%>
                <br><p>We give you the perfect game according to your taste</p>
            </div>
            <div class="home-site-card"><%= image_tag "compare.png",width: "100px",class: "margin-bot-1 " %> <br><p>Get the best offer for the games we propose</p>
            </div>
            <div class="home-site-card"><%= image_tag "comment.png",width: "100px",class: "margin-bot-1 " %>
              <br><p>Share your thoughts to the community</p>
           </div>
        </div>
    </div>
</div>
