<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="margin-bot Way-to-forward">Way to forward <%= image_tag "juego.png",width: "50px"%></h2>
  </div>
  <div>
    <div class="way-to-go d-flex justify-content-between">
<div class="p-3 text-center square"><%= image_tag "like.png",width: "100px",class: "margin-bot-1 " %>
 <br><p>Likes the games for which you are interested to have a list of games recommended</p></div>
<div class="p-3 text-center square"><%= image_tag "comment.png",width: "100px",class: "margin-bot-1 " %>
 <br><p>Made comments to exchange opinions with the community </p></div>
<div class="p-3 text-center square"><%= image_tag "8da302a19e.png",width: "100px",class: "margin-bot-1 "%>
  <br><p>Find in your dashboard your favorite games to be able to access this informations </p></div>
<div class="p-3 text-center square"><%= image_tag "compare.png",width: "100px",class: "margin-bot-1 " %> <br><p>Compares the price of games to find the best price</p></div>
    </div>
  </div>
</div>
