
<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center" style="padding: 30px 0px;"><strong><%= "#{current_user.username}'s couch" %></strong>
    </h1>
  </div>
  <div class="content-dashboard d-flex justify-content-center">
  <div class="menu-left" style="border-right: 1px solid black;padding:10px;width: 15%;">
<span id="nav-tab" >
  <h4 class="active"><a style="" class="black-color" href="#like">My Likes</a></h4>
  <h4><a style="" class="black-color" href="#wishlist">My Wishlist</a></h4>
  <h4><a style="" class="black-color" href="#comments">My Comments</a></h4>
</span>
  </div>
 <div class="menu-right tab-content" style="padding:10px;width: 50%;background: white !important">
    <div class="like active tab-pane" id="like" style="background: white !important">
      <% if !current_user.likes.empty? %>
        <ul>
          <% current_user.likes.each do |like| %>
            <li>
              <div class="card-product-dashboard" style="border-bottom:1px solid gray">
                <% if like.game.photo.present? %>
                  <%= cl_image_tag like.game.photo, class: "img" %>
                <% else %>
                  <%= image_tag "loading.png", class: "img" %>
                <% end %>
            <div class="mini-card-title-infos">
            <div class="mini-card-title">
              <p><%= link_to like.game.name, game_path(like.game), class: "black-color" %></p>
            </div>
          </div>
                <% end %>
              </div>
            </li>
        </ul>
      <% else %>
        <h3>Tell us which games you like!</h3>
      <% end %>
    </div>

<div class="wishlist tab-pane" style="background: white !important" id="wishlist" >
  <ul class=" ">
      <% current_user.wishes.each do |wish| %>
       <li>
        <div class="card-product-dashboard games-dashboard" style="border-bottom:1px solid gray">
          <% if wish.game.photo.present? %>
            <%= cl_image_tag wish.game.photo, class: "img" %>
          <% else %>
            <%= image_tag "loading.png", class: "img" %>
          <% end %>
        <div class="card-product-infos">
          <%= link_to wish.game.name, game_path(wish.game), class: "black-color" %>
        <% end %>
        </div>
      </div>
       </li>
    </ul>
</div>
  <div class="comments tab-pane" style="color:gray" id="comments">
    <ul>
      <%current_user.comments.each do |comment| %>
        <li class="comment-line">
          <% d = comment.created_at %> <%=  %>
          <%= "#{d.strftime("%b %-d %Y, %H:%M")}" %>
          <br>
          <%= "(" %>
          <%=link_to comment.game.name, game_path(comment.game), class: "black-color"%>
          <%= ")" %>
          <br>
          <%="#{comment.content}"%>
        </li>
      <% end %>
    </ul>
</div>
</div>
</div>
</div>
<script>function onTabClick(event) {
  let activeTabs = document.querySelectorAll('.active');
  activeTabs.forEach((tab) => {
tab.className = tab.className.replace('active', '');
  });
  event.target.parentElement.className += ' active';
  document.getElementById(event.target.href.split('#')[1]).className += ' active';
}
const element= document.getElementById('nav-tab');
element.addEventListener('click', onTabClick, false);
</script>

