<div class="container">



  <h1 class="dash-title"><%= "#{current_user.username}'s couch" %></h1>


<div class="dashboard row">

  <div class="fav-games-list col-4">
    <h1>My likes</h1>
    <% if !current_user.likes.empty? %>
    <ul>
      <% current_user.likes.each do |like| %>
        <li>
          <div class="card-product-dashboard">
            <% if like.game.photo.present? %>
              <%= cl_image_tag like.game.photo, class: "img" %>
            <% else %>
              <%= image_tag "loading.png", class: "img" %>
            <% end %>
            <div class="card-product-infos">
            <%= link_to like.game.name, game_path(like.game) %>
            </div>
          <% end %>
          </div>
        </li>
    </ul>
      <% else %>
      <h3>Tell us which games you like!</h3>
    <% end %>
  </div>

  <div class="wishlist col-4">
    <h1>My wishlist</h1>
    <% if !current_user.likes.empty? %>
    <ul>
      <% current_user.likes.each do |like| %>
        <li>
          <div class="card-product-dashboard">
            <% if like.game.photo.present? %>
              <%= cl_image_tag like.game.photo, class: "img" %>
            <% else %>
              <%= image_tag "loading.png", class: "img" %>
            <% end %>
            <div class="card-product-infos">
            <%= link_to like.game.name, game_path(like.game) %>
            </div>
          <% end %>
          </div>
        </li>
    </ul>
      <% else %>
      <h3>Tell us which games you like!</h3>
    <% end %>
  </div>


  <div class="dash-comments col-4">
    <h1>My comments</h1>
    <% if !current_user.likes.empty? %>
    <ul>
      <% current_user.likes.each do |like| %>
        <li>
          <div class="card-product-dashboard">
            <% if like.game.photo.present? %>
              <%= cl_image_tag like.game.photo, class: "img" %>
            <% else %>
              <%= image_tag "loading.png", class: "img" %>
            <% end %>
            <div class="card-product-infos">
            <%= link_to like.game.name, game_path(like.game) %>
            </div>
          <% end %>
          </div>
        </li>
    </ul>
      <% else %>
      <h3>Tell us which games you like!</h3>
    <% end %>
    <ul>
    <%current_user.comments.each do |comment| %>
    <li>
      <%= "#{comment.content} (#{comment.game.name})" %>
    </li>
    <% end %>
    </ul>
  </div>
</div>



</div>
