<div class="card-product-index">
    <% if game.photo.present? %>
      <%= cl_image_tag game.photo, class: "img" %>
    <% else %>
      <%= image_tag "loading.png", class: "img" %>
    <% end %>
    <div class="card-product-infos" id="game-<%= game.id %>">
      <div class="title-date">
        <h1><%= game.name %></h1>
        <h3><%= game.year %></h3>
      </div>
      <div class="platform">
        <h3><%= game.platform %></h2>
      </div>
      <div class="reaction">
        <h4>
          <a class="far fa-comments" data-toggle="collapse" href="#collapseGame<%= game.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
          </a>
          (<%= game.comment_count %>)</h4>
        <h4>
          <% if game.likes.find_by(user: current_user) %>
            <i class="fas fa-heart"></i>
          <% else %>
            <%= link_to game_likes_path(game), method: :post, remote: true do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          (<%= game.like_count %>)
        </h4>
        <h4><%= link_to "Recommandation", game_alike_path(game) %></h4>
        <h4 class="right_choice" data-game-id="<%= game.id %>"><a href="">Right choice</a></h4>
      </div>
    </div>
    <%= link_to "", game_path(game), class: 'absolute-link' %>
</div>

<div class="card-product-index-comment">
  <div class="collapse" id="collapseGame<%= game.id %>">
      <% game.comments.each do |comment| %>
        <div class = "comment-content">
          <%= render 'games/comment_content', comment: comment %>
        </div>
      <% end %>
  </div>
</div>

<div data-hidden-id="<%= game.id %>" class="hidden-match-index">
  <ul>
    <% game.match(current_user).first(3).each do |game, score|%>
    <li>
      <div class="mini-card">
        <% if game.photo.present? %>
          <%= cl_image_tag game.photo, class: "img-mini" %>
        <% else %>
          <%= image_tag "loading.png", class: "img-mini" %>
        <% end %>
        <div class="mini-card-info">
          <p><%= link_to game.name, game_path(game) %></p>
          <p class="matching-percent"><%= score.round(1) %>% MATCH</p>
        </div>
        <% end %>
      </div>
    </li>
  </ul>
</div>
