<div class="card-product-index">

  <div class="card-product-index-left">
      <div class="card-product-index-img">
      <% if game.photo.present? %>
        <%= cl_image_tag game.photo, class: "img" %>
      <% else %>
        <%= image_tag "loading.png", class: "img" %>
      <% end %>
    </div>



    <div class="card-product-infos" id="game-<%= game.id %>">

      <h1 class="title"><strong><%= "#{game.name.upcase} (#{game.year})"%></strong></h1>

      <div class="platform"><h1><%= game.platform[0..75] %></h1></div>

      <div class="reaction">
          <!-- comments -->
          <div class="link-cursor">
            <div class="click-comment" data-game-id="<%= game.id %>">

              <% if game.comments.pluck(:user_id).include?(current_user.id) %>
                <i class="fas fa-comments"></i>
              <% else %>
                <i class="far fa-comments"></i>
              <% end %>(<%= game.comments.length %>)

            </div>
          </div>
          <!-- likes -->
          <div id="like-<%= game.id %>" class="link-cursor">
            <%= render "games/like", game: game %>
          </div>
          <!-- recommandations -->
      </div>

    </div>
    <%= link_to "", game_path(game), class: 'absolute-link' %>
  </div>
  <div class="right right-flex">
    <% game_scores = game.match(current_user).first(3) %>
    <% if !game_scores.present? %>
      <h2>No match found</h2>
    <% else %>
      <% score = game.matching_score(current_user) %>
      <% if !score.nil? %>
        <% if score <= 25 %>
          <% class_name = "badder" %>
        <% elsif score < 50 %>
          <% class_name = "less-bad" %>
        <% elsif score < 75 %>
          <% class_name = "good" %>
        <% else %>
          <% class_name = "very-good" %>
        <% end %>
      <% end %>


      <div id="match-score" class="<%= class_name %>">
        <div style="padding-left: 12px;">
          <%= "#{game.matching_score(current_user)}"%>
          <span class="match-score-percent">%</span></%>
        </div>

      </div>
      <div class="score-details">
          <a style="color:gray !important;font-weight: 700" class="right right_choice" data-game-id="<%= game.id %>" href="#">Details</a>
        </div>
    <% end %>
  </div>
</div>


<div class="card-product-index-comment">
  <div class="collapse" id="collapseGame<%= game.id %>">
      <% game.comments.each do |comment| %>
        <div class = "comment-content">
          <%= render 'games/comment_content', comment: comment %>
        </div>
      <% end %>
  </div>
</div>

<div class="recommandation-index hidden" data-game-id="<%= game.id %>" >
  <p>The others games they like :</p>
  <% game.three_most_liked.each do |like_game| %>
    <li><%= like_game.name %></li>
  <% end %>
</div>

<div class="match-index hidden" data-game-id="<%= game.id %>">
  <ul>
    <% if !game.match(current_user).empty? %>
      <% game.match(current_user).first(3).each do |game, score|%>
        <li>


          <div class="mini-card">

          <div class="mini-card-photo">
            <% if game.photo.present? %>
              <%= cl_image_tag game.photo, class: "img-mini" %>
            <% else %>
              <%= image_tag "loading.png", class: "img-mini" %>
            <% end %>
          </div>

          <div class="mini-card-title-infos">
            <div class="mini-card-title">
              <p><%= link_to game.name, game_path(game) %></p>
            </div>
              <div class="mini-card-score">
                <p class="matching-percent">
                  <strong><%= "#{score.round(1)} %"%> </strong> <%= "of players who played "%> <strong> <%= "#{game.name}"%> </strong> <%= "loved this"%> </%>
                </p>
              </div>
          </div>

          </div>


        </li>
      <% end %>
    <% else %>
      <h6>No matching found... Doesnt mean you won't like it but we can't say if it will fit your taste !</h6>
    <% end %>
  </ul>
</div>

<div class = "comment-index hidden" data-game-id="<%= game.id %>">
  <p> <strong> <% d = Date.today %> <%= d.strftime("%d/%b/%Y") %>
   ---
   <% game.comments.each do |comment| %>
     <%= comment.user.username %>
     <% if comment.user.avatar.blank? %>
        <%= image_tag "https://www.weekend-esprithautsdefrance.com/sites/picardiev3/themes/picardiev3/img_v2/user-default.jpg", class: "avatar-bordered", class: "avatar-bordered" %>
      <% else %>
        <%= cl_image_tag comment.user.avatar, class: "avatar-bordered"%>
      <% end %>
          </strong>
        </p>
    <p><%= comment.content %></p>
  <% end %>
</div>
