<div class="card-product-show">
  <div class="card-product-top">
    <% if @game.photo.present? %>
      <%= cl_image_tag @game.photo %>
    <% else %>
      <%= image_tag "loading.png" %>
    <% end %>
    <div class="card-product-infos">
      <h2 class="text-center"><%= @game.name %> </h2>
        <p><%= @game.year %> </p>
          <p> <%= @game.category %> </p>
          <p><%= @game.platform %> </p>
    </div>
  </div>
  <div class="card-product-bot">




    <div class="card-product-description">
        <% if !@game.description.nil? %>
          <p> <%= @game.description[0..250]+"..." %></p>
        <% end %>
    </div>



    <div class="price-comparator">
      <button>Steam 15€</button>
      <button>Fnac 20€</button>
      <button>Leboncoin 13€</button>
    </div>


  </div>


</div>
