<div class="card-product-index">
    <% if game.photo.present? %>
      <%= cl_image_tag game.photo, class: "img" %>
    <% else %>
      <%= image_tag "loading.png", class: "img" %>
    <% end %>
    <div class="card-product-infos" id="game-<%= game.id %>">
      <div class="title-date-right">
        <div class="title"><h1><%= game.name %></h1></div>
        <div class="year"><h3><%= game.year %></h3></div>

          <div class="right" data-game-id="<%= game.id %>">
            <% game_scores = game.match(current_user).first(3) %>
            <% if !game_scores.present? %>
              <h2>Can't match yet</h2>
            <% else %>
              <%= game.matching_score(current_user) %>
            <% end %>
          </div>
      </div>

      <div class="platform">
        <h3><%= game.platform[0..75] %></h2>
      </div>

      <div class="reaction">
        <!-- comments -->
        <h4>
          <div class="click-comment" data-game-id="<%= game.id %>">
            <% if game.comments.pluck(:user_id).include?(current_user.id) %>
              <a class="fas fa-comments"></a>
            <% else %>
              <a class="far fa-comments"></a>
            <% end %>

          (<%= game.comments.length %>)</h4>
        <!-- likes -->
        <div id="like-<%= game.id %>">
          <%= render "games/like", game: game %>
        </div>
        <!-- recommandations -->
        <a class="recommandation" data-game-id="<%= game.id %>"><h4 href="">Recommandation</h4></a>
        <!-- right choice -->
        <a class="right_choice" data-game-id="<%= game.id %>"><h4 href="">Right choice</h4></a>
      </div>
    </div>
    <%= link_to "", game_path(game), class: 'absolute-link' %>
</div>

<div class="card-product-index-comment">
  <div class="collapse" id="collapseGame<%= game.id %>">
      <% game.comments.each do |comment| %>
        <div class = "comment-content">
          <%= render 'games/comment_content', comment: comment %>
        </div>
      <% end %>
  </div>
</div>

<div class="recommandation-index hidden" data-game-id="<%= game.id %>" >
  <p>The others games they like :</p>
  <% game.three_most_liked.each do |like_game| %>
    <li><%= like_game.name %></li>
  <% end %>
</div>

<div class="match-index hidden" data-game-id="<%= game.id %>">
  <ul>
    <% if !game.match(current_user).empty? %>
      <% game.match(current_user).first(3).each do |game, score|%>
        <li>
          <div class="mini-card">
            <% if game.photo.present? %>
              <%= cl_image_tag game.photo, class: "img-mini" %>
            <% else %>
              <%= image_tag "loading.png", class: "img-mini" %>
            <% end %>
            <div class="mini-card-info">
              <p><%= link_to game.name, game_path(game) %></p>
              <p class="matching-percent"><%= score.round(1) %>% MATCH</p>
            </div>
          </div>
        </li>
      <% end %>
    <% else %>
      <h6>No matching found... Doesnt mean you won't like it but we can't say if it will fit your taste !</h6>
    <% end %>
  </ul>
</div>

<div class="bottom-line">_________________________________________________________________________________________________________________  </div>

<div class = "comment-index hidden" data-game-id="<%= game.id %>">
  <p> <strong> <% d = Date.today %> <%= d.strftime("%d/%b/%Y") %>
   ---
   <% game.comments.each do |comment| %>
     <%= comment.user.username %>
     <% if comment.user.avatar.blank? %>
        <%= image_tag "https://www.screenfeed.fr/wp-content/uploads/2013/10/default-avatar.png", class: "avatar-bordered" %>
      <% else %>
        <%= cl_image_tag comment.user.avatar, class: "avatar-bordered"%>
      <% end %>
          </strong>
        </p>
    <p><%= comment.content %></p>
  <% end %>
</div>
