<div class="card-product-show">
  <div class="card-product-top">
    <div id="big-image">
      <% if @game.photo.present? %>
        <%= cl_image_tag @game.photo %>
      <% else %>
        <%= image_tag "loading.png" %>
      <% end %>
    </div>


    <div class="card-product-infos">
      <div class="d-flex justify-content-between align-items-start">
        <h2 class="text-center"><%= @game.name %> </h2>
        <!-- <p>(<%= @game.year %>)</p> -->
        <div class="d-flex justify-content-center">
          <div class="add-wish ">
            <%= link_to "Add to wishlist", wish_path(@game), method: :post,class: "show-button-wishlist"  %>
          </div>
        </div>
      </div>
      <p> <%= @game.category %></p>
      <p><%= @game.platform %></p>
      <%if @game.likes.pluck(:user_id).include?(current_user.id) %>
        <p><i class="fas fa-heart"></i></p>
      <% end %>

      <div class="card-product-description">
        <% if !@game.description.nil? %>
          <p class="text-justify"><%= @game.description[0..400]+"..." %></p>
        <% end %>
      </div>
      <div class="d-flex justify-content-end pr-3">
        <%= link_to "Go back", games_path, class: "lien-goback" %>
      </div>
    </div>
  </div>

  <div class="carousel">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
        <% if @game.photo.present? %>
          <%= cl_image_tag "https://#{@game.screens[0]}",class: "d-block w-100" %>
        <% else %>
          <%= image_tag "loading.png" %>
        <% end %>
      </div>
      <div class="carousel-item">
        <% if @game.photo.present? %>
          <%= cl_image_tag "https://#{@game.screens[1]}",class: "d-block w-100" %>
        <% else %>
          <%= image_tag "loading.png" %>
        <% end %>
      </div>
      <div class="carousel-item">
        <% if @game.photo.present? %>
          <%= cl_image_tag "https://#{@game.screens[2]}",class: "d-block w-100" %>
        <% else %>
          <%= image_tag "loading.png" %>
        <% end %>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

