<div class="card-product-show">
  <div class="card-product-top">
    <div class="images">
    <div id="big-image">
      <% if @game.photo.present? %>
        <%= cl_image_tag @game.photo,class: "big-image" %>
      <% else %>
        <%= image_tag "loading.png" %>
      <% end %>
    </div>
    <div id="little-images">
      <%= cl_image_tag @game.photo,class: "little-images" %>
      <% @game.screens.each do |screen| %>
        <%= cl_image_tag "https://#{screen}",class: "little-images" %>
      <% end %>
    </div>
    </div>
    <div class="card-product-infos">
      <h2 class="text-center"><%= @game.name %> </h2>

        <p><%= @game.year %> </p>
          <p> <%= @game.category %> </p>
          <p><%= @game.platform %> </p>


          <%if @game.likes.pluck(:user_id).include?(current_user.id) %>
            <p><i class="fas fa-heart"></i></p>
          <% end %>

    </div>
  </div>
  <div class="card-product-bot">

  <div class="card-product-description">
      <% if !@game.description.nil? %>
        <p> <%= @game.description[0..250]+"..." %></p>
      <% end %>
  </div>

  <div class="add-wish">
    <%= link_to "Add to wishlist", wish_path(@game), method: :post  %>
  </div>
</div>
