<div class="card-product-show">
  <%= cl_image_tag @game.photo %>
  <div class="card-product-infos">
  <h2 class="text-center"><%= @game.name %> </h2>
    <p><%= @game.year %> </p>
      <p> <%= @game.category %> </p>
      <p><%= @game.platform %> </p>
  </div>
</div>
