<body style="background-color: #33323A;
background-image: linear-gradient(203deg, #807b61 20%, #33323A 88%)">

  <div class="d-flex">
    <div id="passions-block" class="d-flex align-items-center flex-wrap flex-column ">
      <div id="passions">
        <p>Rejoignez la conversation.</p>
        <p>Découvrez ce dont les gens parlent.</p>
        <p>Suivez vos passions.</p>
      </div>
    </div>

    <div class="form p-4" style="width: 50%">
      <div class=" d-flex flex-column">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="d-flex form-inputs d-flex ">
            <%= f.input :username,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "username" } %>
            <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
          </div>
          <div> <%= f.button :submit, "Log in",class: "sign-up" %>
          <% end %>
          </div>
        </div>
        <div class="mt-5">
          <h3>Find out what's happening in the video games world in real time</h2>
          <h5 class="mt-5">Join GamerCouch today.</h5>
          <span class="d-flex">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name),class: "sign-up" %><br />
          <% end %>
          </span>

        </div>
      </div>
    </div>
  </div>
</body>
